<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="PageComponent"/>
<f:section name="Main">
    <div id="c{data.uid}"
         class="c-download-list u-space-top:default">
        <f:if condition="{data._LOCALIZED_UID}">
            <a id="c{data._LOCALIZED_UID}"></a>
        </f:if>
        <f:render section="Header" optional="true">
            <f:render partial="Header/All" arguments="{_all}"/>
        </f:render>
        <f:if condition="{files}">
            <ul class="c-download-list__list">
                <li class="c-download-list__item">
                <f:for each="{files}" as="file" iteration="fileIterator">
                    <li class="c-download-list__item">
                    <f:render partial="Uploads/Item" section="Main" arguments="{file:file}"/>
                    </li>
                </f:for>
                </li>
            </ul>
        </f:if>
    </div>
</f:section>
</html>
