<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{f:variable(name: 'languageFilePath', value:'LLL:EXT:bravo_content_elements/Resources/Private/Base/Language/locallang.xlf:')}
<figure class="c-figure">

    <div class="c-figure__inner">
        <f:if condition="{file.link}">
            <f:then><f:debug>{file.link.title}</f:debug>
                <f:link.typolink
                    parameter="{file.link}"
                    class="c-figure__link"
                >
                    <f:render partial="Media/Rendering/Image"
                              arguments="{file: file, dimensions: dimensions, settings: settings, CType:data.CType}"/>
                    <span class="u-accessibility">
                        {f:translate(key:'{languageFilePath}u_accessibility.openPageIntern')}
                    </span>
                </f:link.typolink>
            </f:then>
            <f:else>
                <f:if condition="{data.image_zoom}">
                    <f:then>
                        <button
                           class="c-figure__button c-lightbox-trigger js-lightbox-trigger"
                           type="button"
                           data-mpf-src="{f:uri.image(image: file, maxWidth: '1280', cropVariant: 'default')}"
                           data-copyright="{f:if(condition: '{file.properties.copyright}', then: '&copy; {file.properties.copyright}')}">
                            <i class="o-icon-font o-icon-font--loupe" aria-hidden="true"></i>
                            <f:render partial="Media/Rendering/Image"
                                      arguments="{file: file, dimensions: dimensions, settings: settings, CType:data.CType, data:data}"/>
                            <span class="u-accessibility">
                                {f:translate(key:'{languageFilePath}u_accessibility.buttonLightbox')}
                            </span>
                        </button>
                        <f:if condition="{file.properties.copyright}">
                            <div class="c-copyright">
                                <div class="c-copyright__text">&copy; {file.properties.copyright}</div>
                            </div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <f:render partial="Media/Rendering/Image"
                                  arguments="{file: file, dimensions: dimensions, settings: settings, CType:data.CType, data:data}"/>
                        <f:if condition="{file.properties.copyright}">
                            <div class="c-copyright">
                                <div class="c-copyright__text">&copy; {file.properties.copyright}</div>
                            </div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
    </div>
    <f:if condition="{previewImage}">
        <f:else>
            <f:if condition="{file.description}">
                <figcaption class="c-figure__figcaption">{file.description}</figcaption>
            </f:if>
        </f:else>
    </f:if>
</figure>
</html>
